:root {
  --background-color: #f5efeb;
  --day-color: linear-gradient(45deg, rgb(141, 190, 215), rgb(7, 97, 142));
  --night-color: linear-gradient(
    45deg,
    rgb(184, 183, 239),
    rgba(9, 1, 31, 0.623)
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: #f5efeb;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.wrapper {
  width: 80vw;
  max-width: 700px;
  height: 300px;
  padding: 30px 20px;
  border-radius: 5px 5px 0 0;
  margin-top: 10vh;
  text-align: center;
}

.wrapper.day {
  background: var(--day-color);
}

.wrapper.night {
  background: var(--night-color);
}

.search-bar {
  height: 40px;
  width: 100%;
  margin: 20px 0;
  border: 1px solid var(--background-color);
  border-radius: 5px;
  display: flex;
}

.search-bar > input {
  outline: none;
  border: none;
  background: none;
  color: var(--background-color);
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.search-bar > button {
  border: none;
  background-color: var(--background-color);
  color: rgb(36, 97, 125);
  width: 50px;
  height: 100%;
  cursor: pointer;
}

.weather-wrapper {
  display: flex;
}

.weather-card {
  padding: 0 20px;
  height: 120px;
}

.weather-content {
  background-color: rgba(33, 49, 63, 0.1);
  border-radius: 5px;
  display: flex;
}

.weather-content i {
  font-size: 3rem;
  margin-bottom: 10px;
}

.weather-content div {
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weekly-forecast {
  display: flex;
  width: 80vw;
  max-width: 700px;
  margin: 30px -20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 0 0 5px 5px;
}

.weekly-forecast.day {
  background: var(--day-color);
}

.weekly-forecast.night {
  background: var(--night-color);
}

.day-card p {
  margin: 5px;
}

.day-card:hover {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.weatherbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}
