* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  color: #f5efeb;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.wrapper {
  width: 80vw;
  max-width: 700px;
  min-height: 300px;
  padding: 30px 20px;
  border-radius: 5px 5px 0 0;
  margin-top: 10vh;
  text-align: center;
}

.search-bar {
  height: 40px;
  width: 100%;
  margin: 20px 0;
  border: 1px solid #f5efeb;
  border-radius: 5px;
  display: flex;
}

.search-bar > input {
  outline: none;
  border: none;
  background: none;
  color: #f5efeb;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.search-bar > button {
  border: none;
  background-color: #f5efeb;
  color: rgb(36, 97, 125);
  width: 50px;
  height: 100%;
  cursor: pointer;
}

.weather-wrapper {
  display: flex;
}

.weather-card {
  padding: 0 20px;
  height: 120px;
}

.weather-content {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.weather-content i {
  font-size: 3rem;
  margin-bottom: 10px;
}

.weather-content div {
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weekly-forecast {
  display: flex;
  width: 80vw;
  max-width: 700px;
  margin: 30px -20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(49, 53, 57, 0.2);
}

.day-card p {
  margin: 5px;
}

.day-card:hover {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

.weatherbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

@media (max-width: 800px) {
  .wrapper {
    margin-top: 0;
  }
  .wrapper > h1 {
    font-size: 1rem;
  }
  .weather-wrapper {
    flex-direction: column;
  }
  .weather-content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .weather-content > div {
    padding: 10px;
  }
  .weekly-forecast {
    margin-top: 30px;
    width: 80vw;
    gap: 15px;
    overflow-x: scroll;
  }
}
